<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/navBar.css">
    <title>Projet Forum</title>
</head>
<body>
    <div class="body">
            <div class="navbar">
                <div class="logo">FORUM</div>
                <div class="search-container">
                    <input type="text" placeholder="Search...">
                    <button class="search-btn" alt="Rechercher"></button>
                </div>
                <div class="links">
                    <a href="/">About & Home</a>
                    <a href="#" id="categoryLink" >Category</a>
                    <a href="/Login">username</a>
                </div>
                
                <div id="categoryDropdown" style="display: none;">
                    <ul id="categoryList">
                        <li><a href="/Login">Game</a></li>
                        <li><a href="/Login">Health</a></li>
                        <li><a href="/Login">Food</a></li>
                        <li><a href="/Login">Song</a></li>
                        <li><a href="/Login">Movie</a></li>
                        <li><a href="/Login">Book</a></li>
                    </ul>
                </div>
            </div>
    </div>
    <link rel="stylesheet" href="assets/css/Category.css">
    <script src="assets/js/HomeCategory.js"></script>
</body>
</html>