<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/navBar.css">
    <title>Projet Forum</title>
</head>
<body>
    <div class="body">
        <div class="navbar">
            <div class="logo">FORUM</div>
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <button class="search-btn" alt="Rechercher"></button>
            </div>
            <div class="links">
                <a href="/">About & Home</a>
                <a href="/category" id="categoryLink" >Category</a>
                <a href="#">Username</a>
            </div>
            
            <div id="categoryDropdown" style="display: none;">
                <ul id="categoryList">
                    <li><a href="/Game">Game</a></li>
                    <li><a href="/Health">Food</a></li>
                    <li><a href="/Song">Song</a></li>
                    <li><a href="/Movie">Movie</a></li>
                    <li><a href="/Book">Book</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="category-item">
                <div class="category-title"><a href="/Add">Ajouter une catégorie</a></div>
                <div class="category-container">
                    Category title : <input type="text" name="cat" id="cat"><br/><br/>
                    Subject : <input type="text" name="sub" id="sub"><br/><br/>
                    <button id="addCategory">Ajouter</button><br/><br/>
                </div>
            </div>
            <div class="category-item">
                <div class="category-title"><a href="/Game">Game</a></div>
                <div class="category-container">
                    <ul id="Subject-container">
                        <li><a href="#">Quel est votre jeu préféré et pourquoi ? </a></li>
                        <li><a href="#">Quel genre de jeux aimez-vous le plus ?</a></li>
                        <li><a href="#">Préfériez-vous jouer seul ou avec d'autres personnes ?</a></li>
                        <li><a href="#">Pensez-vous que les jeux vidéo peuvent avoir un impact positif sur la vie des gens ? Si oui, pourquoi ?</a></li>
                        <li><a href="#">Quel est le souvenir de jeu vidéo le plus marquant que vous ayez ?</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="assets/css/Category.css">
    <script src="assets/js/HomeCategory.js"></script>
    <script src="assets/js/AddCategory.js"></script>
</body>
</html>