<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Forum</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <div class="body">
        <header>
            <div class="navbar">
                <div class="logo">FORUM</div>
                <div class="search-container">
                    <input type="text" placeholder="Search...">
                    <button class="search-btn" alt="Rechercher"></button>
                </div>
                <div class="links">
                    <a href="#">Home</a>
                    <a href="#">Log in</a>
                    <a href="#">Sign up</a>
                </div>
            </div>
        </header>
    </div>
</body>
</html>