<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Forum</title>
    <link rel="stylesheet" href="assets/css/Home.css">
</head>
<body>
    <div class="body">
        <header>
            <div class="navbar">
                <div class="logo">FORUM</div>
                <div class="search-container">
                    <input type="text" placeholder="Search...">
                    <button class="search-btn" alt="Rechercher"></button>
                </div>
                <div class="links">
                    <a href="/">About & Home</a>
                    <a href="#" id="categoryLink" >Category</a>
                    <a href="/Login">Log In</a>
                    <a href="/signup">Sign up</a>
                </div>
                
                <div id="categoryDropdown" style="display: none;">
                    <ul id="categoryList">
                        <li><a href="/Login">Game</a></li>
                        <li><a href="/Login">Health</a></li>
                        <li><a href="/Login">Food</a></li>
                        <li><a href="/Login">Song</a></li>
                        <li><a href="/Login">Movie</a></li>
                        <li><a href="/Login">Book</a></li>
                    </ul>
                </div>

            </div>
        </header>
        <section class="about-home">
            <div class="container">
                <h2>À propos du Forum</h2>
                <p>Bienvenue sur notre forum communautaire dédié à [sujet du forum]. Nous sommes une communauté passionnée et engagée de [description de la communauté]. Notre objectif est de fournir un espace où les membres peuvent partager leurs connaissances, poser des questions, discuter des dernières nouvelles et échanger des idées sur [sujet du forum].</p>
        </section>
        <div class="image1">
            <img src="assets/images/Home.jpeg" alt="Image">
        </div>
        <section class="about-home">
            <div class="container">
                <h2>Rejoignez notre communauté</h2>
                <p>Nous vous invitons à vous joindre à notre communauté en vous inscrivant sur notre forum. En tant que membre, vous pourrez participer aux discussions, poser des questions, partager vos connaissances et interagir avec d'autres passionnés de [sujet du forum]. Rejoignez-nous dès aujourd'hui et faites partie de cette incroyable communauté!</p>
            </div>
        </section>
    </div>
    <script src="assets/js/HomeCategory.js"></script>
</body>
</html>