.category-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 4%;
    background-color: #333;
    height: 10%;
}

.category-container {
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid #333;
}

.category-title a {
    color: white;
    text-decoration: none;
    margin-left: 2%;
}

.category-title a:hover {
    text-decoration: underline;
}

.category-container a {
    color: black;
    text-decoration: none;
    margin-left: 1%;
    margin-bottom: 10%;
}

.category-container a:hover {
    text-decoration: underline;
}

.category-container ul li {
    margin-top: 1%;
}

.category-container label {
    margin-left: 1%;
}

.category-container button {
    margin-left: 1%;
    margin-bottom: 1%;
}

.category-container input {
    margin-left: 1%;
    margin-top: 1%;
    border: 1px solid #333;
    width: 40%;
    height: 30px;
}

.category-container button {
    margin-left: 10%;
}
